.container {
    display: flex;
    margin: 2px;
    /* border: 3px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    width:  
    /* gap: 1em; */

    /* flex-wrap: wrap; */

}

div {
     /* border: 1px solid black;  */
    cursor: pointer;
    /* transition: background 0.5s ease; */
}

/* .container div:hover {
  background: gray;
} */

/* hover over each column*/
/* .container div:hover {
  background: pink;
} */

h1 {
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

.input-form {
    display: flex;
    justify-content: center;
    border: none;
    margin: 30px;
    gap: 5px;
}

.submit-button {
    cursor: pointer;
}
.check-input {
    border: none;
    text-align:center;
    color:red
}